USE [master]
GO
/****** Objeto: Database [FACTURACION_DB] Fecha de script: 4/10/2026 03:10:06 ******/
CREATE DATABASE [FACTURACION_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FACTURACION_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FACTURACION_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FACTURACION_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FACTURACION_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FACTURACION_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FACTURACION_DB]
GO
/****** Objeto: User [facturacion_app] Fecha de script: 4/10/2026 03:10:06 ******/
CREATE USER [facturacion_app] FOR LOGIN [facturacion_app] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [facturacion_app]
GO
/****** Objeto: Table [dbo].[cliente] Fecha de script: 4/10/2026 03:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [bigint] IDENTITY(1,1) NOT NULL,
	[razon_social] [varchar](255) NULL,
	[ruc] [varchar](255) NULL,
	[telefono] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[urbanizacion] [varchar](255) NULL,
	[distrito] [varchar](255) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[cotizacion] Fecha de script: 4/10/2026 03:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cotizacion](
	[id_cotizacion] [bigint] IDENTITY(1,1) NOT NULL,
	[numero] [varchar](255) NOT NULL,
	[fecha] [date] NOT NULL,
	[id_preventa] [bigint] NOT NULL,
	[subtotal_usd] [float] NOT NULL,
	[igv_usd] [float] NOT NULL,
	[total_usd] [float] NOT NULL,
	[forma_pago] [varchar](255) NULL,
 CONSTRAINT [PK_cotizacion] PRIMARY KEY CLUSTERED 
(
	[id_cotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[detalle_cotizacion] Fecha de script: 4/10/2026 03:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_cotizacion](
	[id_detalle_cotizacion] [bigint] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario_usd] [float] NOT NULL,
	[total_usd] [float] NOT NULL,
	[id_cotizacion] [bigint] NOT NULL,
	[id_producto] [bigint] NOT NULL,
 CONSTRAINT [PK_detalle_cotizacion] PRIMARY KEY CLUSTERED 
(
	[id_detalle_cotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[detalle_preventa] Fecha de script: 4/10/2026 03:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_preventa](
	[id_detalle] [bigint] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario_usd] [float] NOT NULL,
	[total_usd] [float] NOT NULL,
	[id_preventa] [bigint] NOT NULL,
	[id_producto] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[preventa] Fecha de script: 4/10/2026 03:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preventa](
	[id_preventa] [bigint] IDENTITY(1,1) NOT NULL,
	[agencia_ruc] [varchar](255) NULL,
	[agencia_telefono] [varchar](255) NULL,
	[agencia_transporte] [varchar](255) NULL,
	[condicion_pago] [varchar](255) NOT NULL,
	[descuento_porcentaje] [float] NOT NULL,
	[descuento_usd] [float] NOT NULL,
	[direccion] [varchar](255) NULL,
	[distrito] [varchar](255) NULL,
	[fecha] [date] NOT NULL,
	[igv_usd] [float] NOT NULL,
	[neto_usd] [float] NOT NULL,
	[numero] [varchar](255) NOT NULL,
	[plazo_pago] [int] NULL,
	[razon_social] [varchar](255) NOT NULL,
	[representante_cliente] [varchar](255) NULL,
	[ruc] [varchar](255) NOT NULL,
	[subtotal_usd] [float] NOT NULL,
	[telefono] [varchar](255) NULL,
	[tipo_venta] [varchar](255) NOT NULL,
	[total_usd] [float] NOT NULL,
	[transporte] [varchar](255) NOT NULL,
	[urbanizacion] [varchar](255) NULL,
	[id_cliente] [bigint] NULL,
	[vendedor] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_preventa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[producto] Fecha de script: 4/10/2026 03:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](255) NOT NULL,
	[codigo_anterior] [varchar](255) NULL,
	[descripcion] [varchar](255) NULL,
	[marca] [varchar](255) NULL,
	[nombre] [varchar](255) NOT NULL,
	[precio_pen] [float] NULL,
	[precio_usd] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[producto_importacion] Fecha de script: 4/10/2026 03:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_importacion](
	[codigo] [varchar](max) NOT NULL,
	[codigo_anterior] [varchar](max) NULL,
	[descripcion] [varchar](max) NOT NULL,
	[marca] [varchar](max) NOT NULL,
	[nombre] [varchar](max) NOT NULL,
	[precio_pen] [decimal](10, 2) NULL,
	[precio_usd] [decimal](10, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[usuario] Fecha de script: 4/10/2026 03:10:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[rol] [varchar](255) NULL,
	[activo] [bit] NOT NULL,
	[nombres] [varchar](255) NULL,
	[apellidos] [varchar](255) NULL,
	[dni] [varchar](255) NULL,
	[telefono] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([id_cliente], [razon_social], [ruc], [telefono], [direccion], [urbanizacion], [distrito], [activo]) VALUES (1, N'Repuestos Demo SAC', N'20123456789', N'999888777', N'Av. Industrial 123', N'Industrial', N'Lima', 0)
INSERT [dbo].[cliente] ([id_cliente], [razon_social], [ruc], [telefono], [direccion], [urbanizacion], [distrito], [activo]) VALUES (2, N'Cliente Prueba SAC', N'78490393933', N'987654324', N'Av. Principal 123', N'Centro', N'Lima', 1)
INSERT [dbo].[cliente] ([id_cliente], [razon_social], [ruc], [telefono], [direccion], [urbanizacion], [distrito], [activo]) VALUES (5, N'Repuestos Demo SAC', N'78745623456', N'956789541', N'Av. Pascal 134', N'Industrial', N'San Juan de Lurigancho', 1)
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[cotizacion] ON 

INSERT [dbo].[cotizacion] ([id_cotizacion], [numero], [fecha], [id_preventa], [subtotal_usd], [igv_usd], [total_usd], [forma_pago]) VALUES (5, N'COT.005', CAST(N'2026-10-02' AS Date), 9, 4.2, 0.756, 4.956, N'FACTURA')
INSERT [dbo].[cotizacion] ([id_cotizacion], [numero], [fecha], [id_preventa], [subtotal_usd], [igv_usd], [total_usd], [forma_pago]) VALUES (6, N'COT.006', CAST(N'2026-10-02' AS Date), 10, 30.8, 5.544, 36.344, N'FACTURA')
INSERT [dbo].[cotizacion] ([id_cotizacion], [numero], [fecha], [id_preventa], [subtotal_usd], [igv_usd], [total_usd], [forma_pago]) VALUES (12, N'COT.012', CAST(N'2026-10-02' AS Date), 16, 61, 10.98, 71.98, N'FACTURA')
SET IDENTITY_INSERT [dbo].[cotizacion] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_cotizacion] ON 

INSERT [dbo].[detalle_cotizacion] ([id_detalle_cotizacion], [cantidad], [precio_unitario_usd], [total_usd], [id_cotizacion], [id_producto]) VALUES (6, 1, 4.2, 4.2, 5, 7)
INSERT [dbo].[detalle_cotizacion] ([id_detalle_cotizacion], [cantidad], [precio_unitario_usd], [total_usd], [id_cotizacion], [id_producto]) VALUES (7, 1, 8.8, 8.8, 6, 16)
INSERT [dbo].[detalle_cotizacion] ([id_detalle_cotizacion], [cantidad], [precio_unitario_usd], [total_usd], [id_cotizacion], [id_producto]) VALUES (8, 1, 22, 22, 6, 17)
SET IDENTITY_INSERT [dbo].[detalle_cotizacion] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_preventa] ON 

INSERT [dbo].[detalle_preventa] ([id_detalle], [cantidad], [precio_unitario_usd], [total_usd], [id_preventa], [id_producto]) VALUES (10, 1, 4.2, 4.2, 9, 7)
INSERT [dbo].[detalle_preventa] ([id_detalle], [cantidad], [precio_unitario_usd], [total_usd], [id_preventa], [id_producto]) VALUES (11, 1, 8.8, 8.8, 10, 16)
INSERT [dbo].[detalle_preventa] ([id_detalle], [cantidad], [precio_unitario_usd], [total_usd], [id_preventa], [id_producto]) VALUES (12, 1, 22, 22, 10, 17)
SET IDENTITY_INSERT [dbo].[detalle_preventa] OFF
GO
SET IDENTITY_INSERT [dbo].[preventa] ON 

SET IDENTITY_INSERT [dbo].[preventa] OFF
GO
SET IDENTITY_INSERT [dbo].[producto] ON 

INSERT [dbo].[producto] ([id_producto], [codigo], [codigo_anterior], [descripcion], [marca], [nombre], [precio_pen], [precio_usd]) VALUES (2, N'20018379', N'SPCG088003', N'CREMALLERA DIR MECANICA MINIVAN STARVAN 07- SIN RACKS', N'CHANGAN', N'CREMALLERA DIR MECANICA MINIVAN STARVAN 07- SIN RACKS', 88.78, 22)
INSERT [dbo].[producto] ([id_producto], [codigo], [codigo_anterior], [descripcion], [marca], [nombre], [precio_pen], [precio_usd]) VALUES (3, N'20102852', NULL, N'BOMBA AGUA 472 QQ Q22 15-19 (YOKOMITSU)', N'CHERY', N'BOMBA AGUA 472 QQ Q22 15-19 (YOKOMITSU)', 72.64, 18)
INSERT [dbo].[producto] ([id_producto], [codigo], [codigo_anterior], [descripcion], [marca], [nombre], [precio_pen], [precio_usd]) VALUES (4, N'20018501', N'FECY051503', N'BOCAMAZA DEL HUBB494 QQ', N'CHERY', N'BOCAMAZA DEL HUBB494 QQ', 36.32, 9)
GO
SET IDENTITY_INSERT [dbo].[producto] OFF
GO
INSERT [dbo].[producto_importacion] ([codigo], [codigo_anterior], [descripcion], [marca], [nombre], [precio_pen], [precio_usd]) VALUES (N'20018379', N'SPCG088003', N'CREMALLERA DIR MECANICA MINIVAN STARVAN 07- SIN RACKS', N'CHANGAN', N'CREMALLERA DIR MECANICA MINIVAN STARVAN 07- SIN RACKS', CAST(88.78 AS Decimal(10, 2)), CAST(22.00 AS Decimal(10, 2)))
INSERT [dbo].[producto_importacion] ([codigo], [codigo_anterior], [descripcion], [marca], [nombre], [precio_pen], [precio_usd]) VALUES (N'20102852', NULL, N'BOMBA AGUA 472 QQ Q22 15-19 (YOKOMITSU)', N'CHERY', N'BOMBA AGUA 472 QQ Q22 15-19 (YOKOMITSU)', CAST(72.64 AS Decimal(10, 2)), CAST(18.00 AS Decimal(10, 2)))
INSERT [dbo].[producto_importacion] ([codigo], [codigo_anterior], [descripcion], [marca], [nombre], [precio_pen], [precio_usd]) VALUES (N'20018501', N'FECY051503', N'BOCAMAZA DEL HUBB494 QQ', N'CHERY', N'BOCAMAZA DEL HUBB494 QQ', CAST(36.32 AS Decimal(10, 2)), CAST(9.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id_usuario], [usuario], [password], [rol], [activo], [nombres], [apellidos], [dni], [telefono]) VALUES (1, N'Diego', N'$2a$10$FIFYV.CsdRKPEWpvNi8uRu147a8DloqgMfAj4vSIDK0nmht174LXC', N'VENDEDOR', 1, N'Diego', N'Carbajal', N'87654312', N'938848349')
INSERT [dbo].[usuario] ([id_usuario], [usuario], [password], [rol], [activo], [nombres], [apellidos], [dni], [telefono]) VALUES (2, N'Admin', N'$2a$10$f7QgL7yJ2bwMqWDRVCxM6uMhoeTbiu6Qa1kFlqH/fKAT4GOxWFnny', N'ADMIN', 1, N'Administrador', N'Sistema', N'78390201', N'988473879')
INSERT [dbo].[usuario] ([id_usuario], [usuario], [password], [rol], [activo], [nombres], [apellidos], [dni], [telefono]) VALUES (3, N'Dam', N'Holamundo123', N'VENDEDOR', 0, N'Dam', N'Carbajal', N'76548900', N'999111222')
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__cliente__C2B74E619DFBB294] Fecha de script: 4/10/2026 03:10:07 ******/
ALTER TABLE [dbo].[cliente] ADD UNIQUE NONCLUSTERED 
(
	[ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_cotizacion_numero] Fecha de script: 4/10/2026 03:10:07 ******/
ALTER TABLE [dbo].[cotizacion] ADD  CONSTRAINT [UQ_cotizacion_numero] UNIQUE NONCLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UK719rx50sr8w7aju95m245pg4y] Fecha de script: 4/10/2026 03:10:07 ******/
ALTER TABLE [dbo].[preventa] ADD  CONSTRAINT [UK719rx50sr8w7aju95m245pg4y] UNIQUE NONCLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UKkxdt4u9c4w6vveo7ylph4pd09] Fecha de script: 4/10/2026 03:10:07 ******/
ALTER TABLE [dbo].[producto] ADD  CONSTRAINT [UKkxdt4u9c4w6vveo7ylph4pd09] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__usuario__9AFF8FC62149A5AF] Fecha de script: 4/10/2026 03:10:07 ******/
ALTER TABLE [dbo].[usuario] ADD UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cliente] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT ('VENDEDOR') FOR [rol]
GO
ALTER TABLE [dbo].[usuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_cotizacion_preventa] FOREIGN KEY([id_preventa])
REFERENCES [dbo].[preventa] ([id_preventa])
GO
ALTER TABLE [dbo].[cotizacion] CHECK CONSTRAINT [FK_cotizacion_preventa]
GO
ALTER TABLE [dbo].[detalle_cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_detalle_cotizacion_cotizacion] FOREIGN KEY([id_cotizacion])
REFERENCES [dbo].[cotizacion] ([id_cotizacion])
GO
ALTER TABLE [dbo].[detalle_cotizacion] CHECK CONSTRAINT [FK_detalle_cotizacion_cotizacion]
GO
ALTER TABLE [dbo].[detalle_cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_detalle_cotizacion_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle_cotizacion] CHECK CONSTRAINT [FK_detalle_cotizacion_producto]
GO
ALTER TABLE [dbo].[detalle_preventa]  WITH CHECK ADD  CONSTRAINT [FKbt9e65t3vjw7540kg1cjfw00y] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle_preventa] CHECK CONSTRAINT [FKbt9e65t3vjw7540kg1cjfw00y]
GO
ALTER TABLE [dbo].[detalle_preventa]  WITH CHECK ADD  CONSTRAINT [FKhr8ykjc9bbixti7vtrr20gxp8] FOREIGN KEY([id_preventa])
REFERENCES [dbo].[preventa] ([id_preventa])
GO
ALTER TABLE [dbo].[detalle_preventa] CHECK CONSTRAINT [FKhr8ykjc9bbixti7vtrr20gxp8]
GO
ALTER TABLE [dbo].[preventa]  WITH CHECK ADD  CONSTRAINT [FK_preventa_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[preventa] CHECK CONSTRAINT [FK_preventa_cliente]
GO
USE [master]
GO
